<div *ngIf="course.enrolled[type]">
  <!-- if there is no given property (i.e. teachers) on contacts object - not showing anything -->

  <h3>Enrolled {{ type }}:</h3>
  <ul>
    <li *ngFor="let contactId of course.enrolled[type]">
      <a [routerLink]="'/contacts/' + contactId">
        {{ contactId | showContact }}
      </a>
      <button mat-button (click)="onDisenroll(contactId)">disenroll</button>
    </li>
  </ul>

  <app-course-enroll [type]="type" [course]="course"></app-course-enroll>
</div>
