<form *ngIf="!deleteMode" [formGroup]="courseForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="shortCourseName">Short course name:</label>
    <input
      type="text"
      name="shortCourseName"
      id="shortCourseName"
      formControlName="shortCourseName"
    />
  </div>
  <div>
    <label for="fullCourseName">Full name:</label>
    <input
      type="text"
      name="fullCourseName"
      id="fullCourseName"
      formControlName="fullCourseName"
    />
  </div>
  <div class="">
    <button [disabled]="!courseForm.valid">Save course</button>
  </div>
  <div class="">
    <button type="button" (click)="onCancel()">Cancel</button>
    <button type="button" (click)="onDeleteCourse()">Delete</button>
  </div>
</form>

<!-- component for deleting course on purpose nested in edit - component -->
<!-- the reason is not to create separate route which could be accessed by mistake -->
<app-course-delete
  *ngIf="deleteMode"
  [course]="courseToEdit"
  (cancelDelete)="deleteMode = false"
>
</app-course-delete>
