<mat-card class="card">
  <form *ngIf="!deleteMode" [formGroup]="courseForm" (ngSubmit)="onSubmit()">
    <mat-card-title>
      <div *ngIf="editMode; then editCourseView; else newCourseView">
        <!-- only used to render conditionaly ng-template -->
      </div>
      <ng-template #editCourseView>
        <h2>Edit course: {{ courseToEdit?.shortCourseName }}</h2>
        <button
          type="button"
          (click)="onDeleteCourse()"
          mat-stroked-button
          class="btn-danger"
        >
          <i class="material-icons">
            delete
          </i>
          Delete course
        </button>
      </ng-template>

      <ng-template #newCourseView>
        <h2>Add new course</h2>
      </ng-template>
    </mat-card-title>

    <mat-card-content>
      <mat-form-field>
        <mat-label>Short course name:</mat-label>
        <input
          type="text"
          name="shortCourseName"
          id="shortCourseName"
          formControlName="shortCourseName"
          matInput
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label for="fullCourseName">Full name:</mat-label>
        <input
          type="text"
          name="fullCourseName"
          id="fullCourseName"
          formControlName="fullCourseName"
          matInput
        />
      </mat-form-field>

      <div class="box disabled" *ngIf="courseToEdit?.enrollTypes.length > 0">
        <h3>Contacts' types possible to enroll:</h3>
        <mat-chip-list>
          <mat-chip disabled>Not editable</mat-chip>
        </mat-chip-list>
        <mat-list>
          <mat-list-item *ngFor="let type of courseToEdit.enrollTypes">
            <mat-icon matListIcon>perm_identity</mat-icon>
            {{ type }}
          </mat-list-item>
        </mat-list>
      </div>
    </mat-card-content>

    <mat-card-actions>
      <button type="button" (click)="onCancel()" mat-stroked-button>
        <i class="material-icons"> cancel </i> Cancel
      </button>
      <button
        [disabled]="!courseForm.valid"
        mat-stroked-button
        class="btn-success"
      >
        <i class="material-icons">
          check_circle
        </i>
        Save course
      </button>
    </mat-card-actions>
  </form>

  <!-- component for deleting course on purpose nested in edit - component -->
  <!-- the reason is not to create separate route which could be accessed by mistake -->
  <app-course-delete
    *ngIf="deleteMode"
    [course]="courseToEdit"
    (cancelDelete)="deleteMode = false"
  >
  </app-course-delete>
</mat-card>
