<mat-card class="card">
  <form *ngIf="!deleteMode" [formGroup]="courseForm" (ngSubmit)="onSubmit()">
    <mat-card-title
      >Edit course: {{ courseToEdit?.shortCourseName }}</mat-card-title
    >
    <mat-card-content>
      <mat-form-field>
        <mat-label>Short course name:</mat-label>
        <input
          type="text"
          name="shortCourseName"
          id="shortCourseName"
          formControlName="shortCourseName"
          matInput
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label for="fullCourseName">Full name:</mat-label>
        <input
          type="text"
          name="fullCourseName"
          id="fullCourseName"
          formControlName="fullCourseName"
          matInput
        />
      </mat-form-field>

      <div *ngIf="courseToEdit?.getEnrollTypes().length > 0">
        <p>Contacts' types possible to enroll:</p>
        <ul>
          <li *ngFor="let type of courseToEdit.getEnrollTypes()">
            {{ type }}
          </li>
        </ul>
      </div>
    </mat-card-content>
    <button [disabled]="!courseForm.valid" mat-stroked-button>
      Save course
    </button>
    <button type="button" (click)="onCancel()" mat-stroked-button>
      Cancel
    </button>
    <button type="button" (click)="onDeleteCourse()" mat-stroked-button>
      Delete course
    </button>

    <mat-card-actions> </mat-card-actions>
  </form>

  <!-- component for deleting course on purpose nested in edit - component -->
  <!-- the reason is not to create separate route which could be accessed by mistake -->
  <app-course-delete
    *ngIf="deleteMode"
    [course]="courseToEdit"
    (cancelDelete)="deleteMode = false"
  >
  </app-course-delete>
</mat-card>
