<mat-card class="card">
  <mat-card-title
    >Courses:
    <a
      mat-raised-button
      color="accent"
      [routerLink]="['new']"
      routerLinkActive="active"
      >New course</a
    ></mat-card-title
  >
  <mat-card-content>
    <ul class="__choseList">
      <li *ngFor="let course of courses">
        <a mat-button [routerLink]="course.id" routerLinkActive="active"
          >{{ course.shortCourseName }} ({{ course.fullCourseName }})</a
        >
      </li>
    </ul>
  </mat-card-content>
</mat-card>
