<mat-expansion-panel
  (opened)="panelOpenState = true"
  (closed)="panelOpenState = false"
>
  <mat-expansion-panel-header>
    <mat-panel-title> Enroll {{ type }} </mat-panel-title>
    <mat-panel-description>
      {{
        (panelOpenState
          ? "Chose contacts below to enroll course "
          : "Expand panel to enroll more ") + type
      }}
    </mat-panel-description>
  </mat-expansion-panel-header>

  <ul>
    <li *ngFor="let contact of contacts">
      <button (click)="onContactSelected(contact)" mat-button>
        {{ contact.firstName }} {{ contact.lastName }}
      </button>
    </li>
  </ul>
</mat-expansion-panel>
