<form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="firstName">First name:</label>
    <input
      type="text"
      name="firstName"
      id="firstName"
      formControlName="firstName"
    />
  </div>
  <div>
    <label for="lastName">Last name:</label>
    <input
      type="text"
      name="lastName"
      id="lastName"
      formControlName="lastName"
    />
  </div>
  <div class="">
    <button [disabled]="!contactForm.valid">Save contact</button>
  </div>
  <div class="">
    <button type="button" (click)="onCancel()">Cancel</button>
  </div>
</form>
