<mat-card class="card" *ngIf="course">
  <mat-card-title>
    <h2>{{ course.shortCourseName }} ({{ course.fullCourseName }})</h2>
    <a [routerLink]="['edit']" mat-stroked-button color="primary"
      ><i class="material-icons">
        edit
      </i>
      Edit course</a
    ></mat-card-title
  >
  <mat-card-content>
    <nav mat-tab-nav-bar>
      <!-- show tab for each the course's participant type (i.e. students, teachers) -->
      <a
        mat-tab-link
        *ngFor="let type of course.enrollTypes"
        [routerLink]="type"
        routerLinkActive
        #rla="routerLinkActive"
        [active]="rla.isActive"
      >
        {{ type }}
      </a>
    </nav>
    <router-outlet></router-outlet>
  </mat-card-content>
</mat-card>
