<mat-card class="card" *ngIf="course">
  <mat-card-title
    >{{ course.shortCourseName }} ({{ course.fullCourseName }})
    <a [routerLink]="['edit']" mat-raised-button color="primary"
      >Edit course</a
    ></mat-card-title
  >
  <mat-card-content>
    <nav mat-tab-nav-bar>
      <!-- show tab for each the course's participant type -->
      <a
        mat-tab-link
        *ngFor="let type of enrolledTypesKeys"
        [routerLink]="type"
      >
        {{ type }}
      </a>
    </nav>
    <router-outlet></router-outlet>
  </mat-card-content>
</mat-card>
