<mat-card class="card" *ngIf="course">
  <mat-card-title
    >{{ course.shortCourseName }} ({{ course.fullCourseName }})</mat-card-title
  >
  <mat-card-content>
    <a [routerLink]="['edit']" mat-raised-button color="primary">Edit course</a>

    <app-course-contacts
      type="teachers"
      title="Teachers:"
      [contacts]="course.signed"
    ></app-course-contacts>
    <app-course-contacts
      type="students"
      title="Students:"
      [contacts]="course.signed"
    ></app-course-contacts>
  </mat-card-content>
</mat-card>

<router-outlet></router-outlet>
