/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

/* global font size */
* {
  font-size: 1.05em;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* LAYOUT */
.__layout-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.__layout-sidebar {
  flex: 0 0 auto;
}

.__layout-content {
  flex: 1 0 auto;
}

/* MAT CARD MODIFICATIONS */
mat-card {
  margin: 1em;
}

mat-card-title {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
}

/* MAT SNACKBARS with different statuses */
.snackbar-error {
  color: white;
  background: #cc3300;
}

.snackbar-warning {
  color: #000;
  background: #ffcc00;
}

.snackbar-warning button {
  color: #000;
  background-color: white;
}

.snackbar-success {
  color: white;
  background: #339900;
}

/* MAT ICON BUTTON - add some bg color on hover */
.mat-icon-button:hover {
  background-color: #eeeeee;
}

/* LIST */
.__choseList .mat-button.active {
  color: red;
  background-color: #eeeeee;
}
